*{
  box-sizing: border-box;  

}
.App {
    display: flex;
    flex-wrap: wrap;
}
.coindata {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-style: outset;
    border-radius: 10%;
    padding: 5%;
}

.input {
  background-color: bisque;
  display: grid;
  justify-content: center;
  margin-bottom: 3%;
  size: 20%;
}
